@charset "UTF-8";
/* CSS CONTACTO */
.fondo-contacto {
  background-color: rgba(148, 106, 106, 0.993);
  padding: 20px;
}

/* LOGO WHATSAPP IMAGEN */
#whatsapp img {
  width: 50px;
}

/* LOGO WHSATSAPP */
#whatsapp {
  display: flex;
  float: right;
  padding: 10px;
}

/* CONTAINER AL GOOGLE MAPS */
.mapa-container {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  background-color: #5D6D7E;
}

/* FOOTER */
.container-footer {
  background: black;
  padding: 10px;
}

/* FOOTER */
.container-footer img {
  width: 25px;
}

/* FOOTER*/
.telefono-footer {
  color: blanchedalmond;
  display: flex;
  float: right;
}

/* FOOTER */
.container-footer {
  background: radial-gradient(#D98880, #F4F6F7, #17202A);
  padding: 10px;
  display: flex;
  justify-content: left;
}

/* TAMAÑO LOGOS*/
.logo-footer img {
  width: 25px;
}

.logo-footer {
  padding: 15px;
}

/* CSS FOTOGRAFIA MANUAL */
.texto-iso, .titulo-iso {
  display: flex;
  justify-content: center;
  font-family: "Space Mono", monospace;
}

.titulo-iso {
  font-size: xx-large;
  padding: 20px;
}

.texto-iso {
  padding: 15px;
}

.fotos-iso {
  display: flex;
  justify-content: center;
  transition: all 1s;
}

/* CSS FOTOGRAFIA MANUAL */
.fotos-iso img {
  width: 500px;
  padding: 20px;
}

/* GALERIA */
.galeria-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid black;
}

/* GALERIA */
.galeria-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  padding: 20px;
  grid-gap: 10px;
}

/* fondo de pantalla al header */
header {
  background: radial-gradient(#641E16, #95A5A6, #85929E);
  padding: 25px;
}

/* fondo de pantalla para todas mis paginas al section */
body {
  background: radial-gradient(#17202A, #E74C3C, #808B96, #F5B7B1, #F5B7B1);
}

/* reduccion de tamaño al logo del proyecto */
.animacion-logo {
  display: flex;
  justify-content: center;
  animation-duration: 7s;
  animation-name: animLogo;
  animation-iteration-count: infinite;
}

@keyframes animLogo {
  from {
    transform: rotatey(0deg);
    -webkit-transform: rotatey(0deg);
    -o-transform: rotatey(0deg);
    -moz-transform: rotatey(0deg);
  }
  50% {
    transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
    -moz-transform: rotatey(180deg);
  }
  to {
    transform: rotatey(360deg);
    -webkit-transform: rotatey(360deg);
    -o-transform: rotatey(360deg);
    -moz-transform: rotatey(360deg);
  }
}
.logo img {
  width: 30%;
}

/* ALINEACION DE TITULOS PARA MIS SECCIONES DE INICIO */
.titulo-section {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
  font-weight: 100;
}

/* PATROCINADORES IMAGENES */
.imgGrid img {
  width: 100%;
  height: 80%;
}

.video-inicio {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* CSS SOBRE MI */
.contenedor-sobremi p {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  font-size: medium;
  font-family: "Space Mono", monospace;
}

/* CSS SOBRE MI */
.contenedor-sobremi img {
  width: 25%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: x-large;
  padding: 10px 10px;
}

/* CSS SOBRE MI */
.titulo-sobremi {
  display: flex;
  justify-content: center;
  font-family: "Space Mono", monospace;
  margin-bottom: 60px;
  font-size: xx-large;
  padding: 20px;
}

.animacion-sobremi {
  animation-duration: 3s;
  animation-name: animTexto;
  margin: 20px;
}

@keyframes animTexto {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.container-cardsobremi {
  padding: 20px 20px;
}

/* MOBILE FIRST GALERIA */
@media only screen and (max-width: 576px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
/* LISTAS */
/* TITULOS DEL INICIO */
.titulo-section {
  color: #ECF0F1;
}

/* TITULO DEL SOBRE MI */
.titulo-sobremi {
  color: #ECF0F1;
}

/* TEXTO DEL SOBRE MI */
.contenedor-sobremi p {
  color: #ECF0F1;
}

/* TITULO FOTOGRAFIA MANUAL */
.titulo-iso {
  color: #ECF0F1;
}

/* TEXTO FOTOGRAFIA MANUAL */
.texto-iso {
  color: #ECF0F1;
}

/*# sourceMappingURL=style.css.map */
