/* LISTAS */
$colores:
#000000,
#14213d,
#fca311,
#e5e5e5,
#ffffff,
#ffe6a7;
/* TITULOS DEL INICIO */
.titulo-section {
    color:  nth($colores, 6);
}
/* TITULO DEL SOBRE MI */
.titulo-sobremi {
    color: nth($colores , 4);
}
/* TEXTO DEL SOBRE MI */
.contenedor-sobremi p {
    color: nth($colores, 6);
}
.texto-presentacion {
    color: nth($colores, 6);
}



