/* FOOTER */
.container-footer {
    background: black;
    padding: 10px;
}

/* FOOTER */
.container-footer img {
    width: 25px;
}

/* FOOTER*/
.telefono-footer {
    color: blanchedalmond;
    display: flex;
    float: right;
}
/* FOOTER */
.container-footer {
    background: radial-gradient(#D98880, #F4F6F7, #17202A);
    padding: 10px;
    display: flex;
    justify-content: left;
}
/* TAMAÑO LOGOS*/
.logo-footer img {
    width: 25px;
}

.logo-footer {
    padding: 15px;
}

