/* inicio (patrocinadores imagenes) */
.imgGrid img {
    width: 100%;
    height: 80%;
    
}
/* inicio (video malibu) */
.video-inicio {
    display: flex;
    justify-content: center;
    padding: 20px;
}





