


/* sobre mi */
.contenedor-sobremi p {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    font-size: medium;
    font-family: 'Space Mono', monospace;
}

/* sobre mi */
.contenedor-sobremi img {
    width: 25%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: x-large;
    padding: 10px 10px;
}


